.searchbar-container {
    display: flex;
    flex-direction: row;
    margin: 3% 3%;
    background-color: orangered;
    border-radius: 8px;
    width: 40%;
}


.searchbar {
    width: 100%;
    align-items: center;
}

.searchbar input{
    border: none;
    padding: 15px;
    width: 85%;
    margin: 3%;
    border-radius: 4px;
}

.searchbar-btn{
    display: flex;
    padding: 15px 10px 15px 0;
}

.searchbar-btn button{
    background-color: rgb(94, 94, 94);
    color:white;
    border-radius: 8px;
    border: none;
}

.searchbar-btn button:hover{
    cursor: pointer;
}
