.navbar {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
    gap: 10%;
}

.navbar-favorite {
    font-size: xx-large;
}

.navbar-favorite:hover {
    cursor: pointer;
}